{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Lista de Tarefas</title>

  <link rel="stylesheet" href="{% static 'lista_de_tarefas.css' %}">

</head>
<body>
  <h1>Minhas Tarefas</h1>

  {% if tarefas %}
    <ul>

      <!-- Passa por cada tarefa e dá suas informações -->
      {% for t in tarefas %}
        <li class="{% if t.concluida %}concluida{% endif %}">
          <strong>{{ t.titulo }}</strong><br>
          {{ t.descricao }}<br>
          Tipo: {{ t.tipo }}<br>
          Criado em: {{ t.data_criado|date:"d/m/Y H:i" }}<br>
          Última atualização: {{ t.atualizar|date:"d/m/Y H:i" }}<br>
          {% if t.concluida %}
              <span>Concluída</span>
          {% else %}
              <span>Pendente</span>
          {% endif %} <br>

          <!-- Editar -->
          <form method="get" action="{% url 'editar_tarefa' t.id %}">
            <button type="submit">Editar</button>
          </form>

        </li>
        <br>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nenhuma tarefa cadastrada.</p>
  {% endif %}

  <br>
  <!-- Botão que leva para a página de adicionar -->
  <form action="{% url 'add_tarefa' %}" method="get">
    <button type="submit">Adicionar Tarefa</button>
  </form>

  <br>
  <!-- Botão de logout -->
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Sair</button>
  </form>


  
</body>
</html>
