<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Lista de Tarefas</title>
</head>
<body>
  <h1>Minhas Tarefas</h1>

  {% if tarefas %}
    <ul>
      {% for t in tarefas %}
        <li>
          <strong>{{ t.titulo }}</strong><br>
          {{ t.descricao }}<br>
          Tipo: {{ t.tipo }}<br>
          Criado em: {{ t.prazo|date:"d/m/Y H:i" }}
        </li>
        <br>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nenhuma tarefa cadastrada.</p>
  {% endif %}

  <!-- Botão que leva para a página de adicionar -->
  <form action="/home/adicionar_tarefa/" method="get">
    <button type="submit">Adicionar Tarefa</button>
  </form>
</body>
</html>
