{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="{% static 'inicio.css' %}">
</head>
<body>
    <header>
        <h1>Lista de Tarefas Online</h1>
        <nav>
            <ul>
                <li><a href="/login/">Login</a></li>
                <li><a href="/registrar/">Registrar</a></li>
            </ul>
        </nav>
    </header>

    <footer>
        <p>© 2025 Lista de Tarefas - pablorenan1946@gmail.com</p>
    </footer>

    <button 
        class="github-btn" 
        onclick="window.open('https://github.com/Renan9-12/priorizando', '_blank')">
        Repositório do Projeto
    </button>
</body>
</html>
