{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    
    <link rel="stylesheet" href="{% static 'login.css' %}">

</head>
<body>
    <h1>Entrar</h1>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        <label for="id_username">Nome de usuário:</label><br>
        <input id="id_username" type="text" name="nome_logar" required><br><br>

        <label for="id_password">Senha:</label><br>
        <input id="id_password" type="password" name="senha_logar" required><br><br>

        <button type="submit">Entrar</button>
    </form>

    <p><a href="/registrar/">Não tem conta ainda?</a></p>
</body>
</html>
